<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   
   
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MembersOk</servlet-name>
  	<display-name>MembersOk</display-name>
  	<description></description>
  	<servlet-class>musecom.net.MembersOk</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MembersLogin</servlet-name>
  	<display-name>MembersLogin</display-name>
  	<description></description>
  	<servlet-class>musecom.net.MembersLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>musecom.net.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MembersOk</servlet-name>
  	<url-pattern>/MembersOk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MembersLogin</servlet-name>
  	<url-pattern>/memberlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <resource-ref>
  	<description>MySQL</description>
  	<res-ref-name>jdbc/bbswork</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>
